{% extends 'comparator/base.html' %}
{% block content %}

<header class="masthead">
    <div class="container">
        {% for prod in prod_list %}
            <div class="container">
                <!-- <h1>Cartes</h1>
                <h2>Card-group :</h2> -->
                <div class="card-group mb-5">
                    <div class="card">
                        <!-- <div class="card-header">En-tête de la première carte</div> -->
                        <div class="card-body">
                            <a href="{% url 'product_detail' product_id=prod.product_id %}"><h3 class="card-title">{{prod.name}}</h3></a>
                            <img src={{prod.image}}>
                            <p class="card-text"><small class="text-muted"> Nutriscore: {{prod.nutriscore}}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</header>
{% endblock %}