{%extends 'comparator/base.html' %}
{%block content %}

<header class="masthead">
    {% for value in answer_prod %}
        <div class="container">
            <!-- <h1>Cartes</h1>
            <h2>Card-group :</h2> -->
            <div class="card-group mb-5">
                <div class="card">
                    <!-- <div class="card-header">En-tête de la première carte</div> -->
                    <div class="card-body">
                        <a href="{% url 'product_detail' product_id=value.product_id %}"><h3 class="card-title">{{value.name}}</h3></a>
                        <img src={{value.image}}>
                        <p class="card-text"><small class="text-muted"> Nutriscore: {{value.nutriscore}}</small></p>
                    </div>
                    <!-- <div class="card-footer">Pied de la première carte</div> -->
                </div>
            </div>
        </div>
    {% endfor %}
</header>

{% endblock %}